:root{
    --color-txt:#dda663;
    --color-bg:#09252F;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f222b;  
}
::-webkit-scrollbar-thumb {
    background: #1c3a45; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #275261;  
}
html{
    scrollbar-width: thin;
    scrollbar-color: #1c3a45 #0f222b;
}
body{
    background-color: var(--color-bg);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  font-size: larger;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

h3{
    position: relative;
    left: 1%;

}
#an-txt{
    gap: 1%;
   
}
#nav-menu{
    position: relative;
    font-weight: bold;
    display: flex;
    right: 8% ;
    gap: 2rem;
}

.a{
    margin-left:4% ;
}

.a:hover,
.a.clicked{
  color: var(--color-txt);
  border-bottom: 3px solid var(--color-txt);
  transition: 0.3s; 
}

#home{
    padding-top: 8rem; 
    font-size: large;
    flex-wrap: wrap;
    margin-top: 7%;
    display: flex;
    justify-content:center;
    gap: 10%;
    height: 13rem;
    width: 100%;
}
.logo-title{
  display: flex;
  align-items: center;
  gap:3px; 
}

.logo-title h3{
  margin: 0; 
  font-size: 1.3em;
}

#hom_txt{
    margin-left:2% ;
    width: 50%;
}

#pdp{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--color-txt);
    width: 90%;
    height: 300px;
    margin-top: 5%;
}

#ilogo{
    display: flex;
    text-align: center;
    gap:0.5rem;
}

#link{ 
      display: flex;
      gap: 0.5rem;
    }

.fab{
    padding: 5px;
    border-radius: 50%;
    color: var(--color-txt);
    border:2px solid var(--color-txt);
}

span{
    text-shadow:  0 0 25px var(--color-txt);
    color: var(--color-txt);
}

.fab:hover,
.a:hover{
    transform: scale(1.1);
    transition: 0.3s; 
}
#services{
    margin-top:15rem;
    padding-top:6rem;
}
#ser_txt{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

#div_ser{
    display: flex;         
    justify-content: space-between; 
    align-items: flex-start;
    gap: 0.5rem;
                
}
.box,.p{
    flex: 1;           
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 10px;
    position: relative;
    width: 75%;
    color: white;
    background-color: #031116ff;
    border-radius: 1rem;
    margin: 0.5rem;
    border: 1px solid var(--color-txt);
}

.box-txt,.p{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    
}


.box:hover,.p:hover{
 transform: scale(1.03);   
box-shadow:0 0 25px var(--color-txt);
}
.carousel{
  margin: 100px auto;
  width: 90%;
  display: flex;
  gap: 1em;

}
.group{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 1rem;
  animation: scroll 30s infinite linear;
}
.card{
  flex: 0 0 5em;
  height:5em;
  font-size: 3rem;
  border: .2em;
  text-align: center;
  align-content: center;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .3em;
}
@keyframes scroll {
  from {translate: 0;}
  to {translate: -100%;}
}
.video-section {
  width: 90%;
  margin: 50px auto;
  padding: 20px;
}
.video-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.video-card {
  background: #001218;
  padding: 10px;
  border-radius: 12px;
  width: 250px;
  transition: .3s;
}
.video-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(2, 1, 39, 0.4);
}
.video-card video {
  width: 100%;
  height:350px;
  object-fit: cover;
  border-radius: 10px;
}
.video-card h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
}
#contact{
  position: relative;
  top:30vh;
}
#sec-contact{
    gap: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-bottom: 14rem;
}
.con{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;

}
textarea{
    width: 100%;
    height: 9rem;
    margin-bottom: 6%;
    padding-top: 3%;

}

.inputs{
    display: block;
    width: 100%;
    margin-bottom: 0.7rem;
    height: 2.5rem;
}
.inputs,textarea{
    color: white;
    border: 1px solid var(--color-txt);
    box-shadow:  0 0 5px var(--color-txt);
    border-radius: 10px;
    padding-left: 3%;
    background-color:var(--color-bg);
}
.btn{
    background: var(--color-txt);
    border-radius: 10px;
    padding: 0.4rem 1rem;
    box-shadow:  0 0 25px var(--color-txt);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s; 
}
.btn:hover {
    transform: scale(1.05);
}
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 2%;
  display: none; 
}
#foot{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
#project{
  padding-top:3.8rem;
    width: 100%;
}
#sec-project{
   padding-top:6rem;
    width: 100%;
}
.loading-text{
    font-size: 3rem;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  font-size: 1.5rem;
  color: var(--color-txt);
}
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-top: 3px solid var(--color-txt);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.typing{
  display: inline-block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  animation: typing 2s steps(20, end) forwards, blink 0.7s infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: fit-content; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
.footer {
  position:fixed;
background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
}
#menu{
    display: none;
    font-size:2rem ;
    cursor: pointer;
}

@media (max-width: 900px) {
    header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 1rem;
   
    }
    #menu{
        display: block;
        padding-right: 3rem;
    }
    #nav-menu{
        display: none;
        flex-direction: column;
        background: rgba(0,0,0,0.8);
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        border-radius: 5px;
    }
    .a{
        margin: 0.5rem 0;
        transition: none;
    }
    .a:hover{
        color: var(--color-txt);
        border-bottom: none; 
        transform: none;
    }      
    .a.clicked{
        border-bottom: none;
    }
    .logo-title{
        flex: 1;
        max-width: 70%;
    }
    #home{
        text-align: center;
         display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size:0.9rem ;
        padding-top: 4.5rem;
    }
    #ilogo{
        display: flex;
        justify-content: center;
    }
    #link{ 
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    #cat{
      width: 50%;
      font-size: 0.5rem;
    }
    #pdp{
      width: 100%;
      height: 180px; 
    }
    #an-txt{
      display:flex ;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    #hom_txt {
      width: 90%;
      margin-left: 0;
    }
    #services {
      margin-top: 70vh;
    }
    #ser_txt{
        font-size: 2.5rem;
    }
    .box{
        width: 30px;
        
    }
    .box-txt{
        text-align:center;
    }
    .box{
        width: 60%;
        font-size: smaller;
    }
    .carousel,.video-section{
        margin-top:0.5rem ;
        margin-bottom: 1.5rem;
    }
    .card{
        flex: 0 0 3em;
        height: 3em;
    }
    .video-card {
      width: 110px;
    }
    .video-card video {
        height: 220px;
        width: 100%;
        object-fit: cover;
      }
    .video-card h3 {
        font-size: 0.9rem;
    }
    #sec-contact{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .inputs,textarea{
        width: 200%;
    }
    footer{
        margin-top: 15%;
        }
    #div_ser{
        display: flex;
        flex-direction:column;         
        justify-content: space-between; 
        align-items: center;
        gap: 0.5rem;
                    
    }
    .box:hover{
     transform: scale(1.04);   
    box-shadow:  0 0 25px var(--color-txt);
    }
    
  }
